.flex-container {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .flex-container > div {
    background-color: #4666f5;
    width: 15%;
    margin: 20px;
    padding: 20px;
    font-size: 15px;
    color: white;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }