body {
    background-image: url('/img/utm.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row-reverse;
}

.flex-container > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
}

div > a:hover{
    background-color: black;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

.banner{
    text-align: center;
    margin-top: 10%;
    color: white;
}

.header{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

